*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    color: #212529;
    padding: 40px 0;
}

:root {
    --black: #1C1C1C;
    --navy: #00043c;
    --orange: #fd7e14;
    --yellow: #fdbe34;
    --white: #fff;
    --gray: #6c757d;
    --light: #f8f9fa;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* glob */

section {
    padding: 60px 0;
}

.page-product section {
    padding: 40px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
    width: 100%;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.8);
}

.section-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--gray)
}

.btn {
    border-radius: 10px;
    display: inline-flex;
    padding: 10px 20px;
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.btn--yellow {
    background-color: var(--yellow);
    border: 2px solid transparent;
}

.btn--yellow:hover {
    background-color: #fba00d;
}

.btn--yellow:focus-visible {
    box-shadow: 0 0 0 4px rgba(0, 4, 60, 0.4);
    outline: none;
}

.btn--yellow:active {
    transform: translateY(2px);
    outline: none;
}

.btn--yellow-inverse {
    border: 2px solid var(--yellow);
    color: var(--white);
}

.btn--yellow-inverse:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.btn--yellow-inverse:active {
    transform: translateY(2px);
    outline: none;
}

.btn--yellow-inverse:focus {
    outline: none;
}

.btn--yellow-inverse:focus-visible {
    box-shadow: 0 0 0 4px rgba(0, 4, 60, 0.4);
    outline: none;
}

.btn--navy {
    border: 2px solid transparent;
    background-color: var(--navy);
    color: var(--white);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.btn--navy:hover {
    background-color: rgb(0, 6, 83);
    transform: translateY(1px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, .12);
}

.btn--navy:focus-visible {
    box-shadow: 0 0 0 4px rgba(0, 4, 60, 0.4);
    outline: none;
}

.btn--navy:active {
    transform: translateY(2px);
    outline: none;
}

.btn--outline {
    border: 2px solid var(--navy);
    color: var(--navy);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.btn--outline:hover {
    background-color: #f4f4f4;
    transform: translateY(1px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, .12);
}

.btn--outline:active {
    transform: translateY(2px);
    outline: none;
}

.btn--outline:focus {
    outline: none;
}

.btn--outline:focus-visible {
    box-shadow: 0 0 0 4px rgba(0, 4, 60, 0.4);
    outline: none;
}

.stack {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.section-intro p {
    max-width: 760px;
}

.subtitle {
    color: var(--navy);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.3px;
    transition: color .2s ease-in-out;
}

.card {
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    padding: 30px 15px;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, .12);
}

.section--gray {
    background-color: rgba(0, 0, 0, 0.05)
}

.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.spec-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: disc;
    padding: 0 20px;
}

.spec-list li {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--gray);
}

/* scroll-top */

.scroll-top {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #6c757d7a;
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
    color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    z-index: 1;
}

.scroll-top--visible {
    opacity: 1;
    visibility: visible;
}

.scroll-top--visible:hover {
    background-color: #6c757d;
    box-shadow: 0 20px 45px rgba(0, 0, 0, .12);
}

/* breadcrumb */

.breadcrumb {
    margin-top: 20px;
}

.breadcrumb-list {
    display: flex;
    gap: 10px;
    white-space: nowrap;
}

.breadcrumb-item {
    color: rgba(4, 4, 4, 0.55);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.breadcrumb-item a {
    transition: color .2s ease-in-out;
}

.breadcrumb-item a:hover {
    color: var(--navy);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.35);
}

/* header */

.top-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    color: var(--yellow);
    font-size: 30px;
    font-weight: 800;
}

.top-logo img {
    max-width: 50px;
    height: auto;
}

.social-list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.social-item a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    color: #4d4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, transform .2s ease-in-out;
}

.social-item svg {
    flex-shrink: 0;
    width: 24px;
    height: auto;
    transition: color .2s ease-in-out;
}

.social-item a:hover {
    transform: translateY(1px);
    box-shadow: 0px 5px 60px rgba(0, 0, 0, 0.1);
    background-color: var(--yellow);
    color: var(--white);
}

.social-item a:focus-visible {
    outline: 2px solid var(--yellow);
    outline-offset: 2px;
}

/* nav */

.burger,
.nav-logo {
    display: none;
}

.navbar {
    background-color: var(--navy);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
}

.nav-contacts {
    display: flex;
    gap: 24px;
    padding: 10px 0;
}

.nav-contacts_phone,
.nav-contacts_address {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-contacts_phone {
    padding-right: 10px;
    border-right: 2px solid #fff;
}

.nav-contacts_phone a {
    transition: color .2s ease-in-out;
}

.nav-contacts_phone a:hover {
    color: #fba00d;
}

.nav-item {
    display: flex;
}

.nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.nav-item.active .nav-link {
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 800;
}

.nav-link:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.nav-link:focus-visible {
    outline: 1px solid var(--yellow);
}


/* hero */

.hero {
    display: flex;
    min-height: 600px;
    align-items: center;
    background-image: url(./img/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    z-index: 1;
}

.hero-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    transform: translate(0, -60px);
    position: relative;
    z-index: 2;
}

.hero-title {
    max-width: 730px;
    font-size: 42px;
    font-weight: 800;
    letter-spacing: 3px;
    /* text-transform: uppercase; */
    color: #fff;
    line-height: 1.5;
    text-shadow: 0px 3px 25px rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.hero-text {
    max-width: 630px;
    font-size: 16px;
    line-height: 1.5;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--yellow);
    text-shadow: 0px 3px 25px rgba(255, 255, 255, 0.1);
    margin-bottom: 60px;
}

.hero-btn {
    display: flex;
    align-items: center;
    gap: 24px;
}


/* about */

.about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-text {
    width: 40%;
    max-width: 520px;
}

.about-img {
    background-image: url(./img/about-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 60%;
    max-width: 800px;
    aspect-ratio: 4 / 3;
    border-radius: 16px;
    position: relative;
    z-index: 0;
}

.about-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 16px;
}


/* advantages */

.advantages-list {
    margin-top: 30px;
    margin-bottom: 30px;
}

.advantages-item {
    height: 100%;
    align-items: center;
    text-align: center;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out;
}

.advantages-icon {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: rgba(0, 4, 60, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease-in-out;
}

.advantages-item svg {
    flex-shrink: 0;
    width: 35px;
    height: auto;
    color: var(--navy);
    transition: color .2s ease-in-out;
}

.advantages-item p {
    max-width: 230px;
    transition: color .2s ease-in-out;
}

.advantages-item:hover .subtitle {
    color: var(--yellow);
}

.advantages-item:hover p {
    color: rgba(0, 0, 0, 0.8);
}

.advantages-item:hover .advantages-icon {
    background-color: var(--yellow);
}

.advantages-mastic-item__header {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}

.advantages-mastic-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.advantages-mastic-item {
    border: 1px solid #001F3F;
    border-radius: 18px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advantages-mastic-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages-mastic-icon svg {
    width: 40px;
    height: auto;
}

.advantages-mastic-item .subtitle {
    font-size: 18px;
    color: #001F3F;
}

.advantages-mastic-item .spec-list {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
}

.advantages-mastic-item .spec-list li {
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}



/* developments */

.developments-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.developments-text {
    max-width: 760px;
}

.developments-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.developments-img img {
    max-width: 270px;
    height: auto;
}

.developments-list {
    margin-top: 30px;
    gap: 32px;
}

.developments-item {
    align-items: center;
    text-align: center;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.developments-item a {
    margin-top: auto;
}

/* service */

.service-list {
    margin-top: 30px;
    display: grid;
    gap: 24px;
}

.service-item {
    padding: 32px;
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 40px;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, background-color .3s ease-in-out;
}

.service-content {
    align-items: flex-start;
}

.service-img {
    width: 100%;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    border-radius: 16px;
}

.service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-item h3 {
    color: var(--navy);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.3px;
}

.service-content a {
    align-self: flex-end;
}


/* footer  */

.footer {
    background-color: var(--navy);
    color: var(--white);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #393939;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts {
    display: flex;
    gap: 24px;
    padding: 10px 0;
}

.footer-contacts_phone,
.footer-contacts_address {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contacts_phone {
    padding-right: 20px;
    border-right: 2px solid #fff;
}

.footer-contacts_phone a {
    transition: color .2s ease-in-out;
}

.footer-contacts_phone a:hover {
    color: #fba00d;
}

.footer .social-item a {
    color: var(--yellow);
    background-color: #393939;
    border: 1px solid transparent;
}

.footer .social-item:hover a {
    background-color: var(--yellow);
    color: #393939;
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo img {
    max-width: 50px;
    height: auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--white);
    font-size: 30px;
    font-weight: 800;
}

.footer-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-nav-link {
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.2s ease-in-out;
}

.footer-nav-link:hover {
    color: var(--yellow);
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom p {
    color: #a6a6a6;
}




/* services page */

.service-header__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.service-header__img-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.service-header__img {
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    gap: 12px;
}

.service-header__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-header__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}


/* service technology */

.service-technology__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.service-technology__descr {
    max-width: 760px;
}

.service-technology__tabs {
    display: flex;
    align-self: flex-start;
    gap: 30px;
}

.tab {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #00043c;
}

.tab::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--yellow);
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.tab--active::after {
    opacity: 1;
}

.tab:hover::after {
    opacity: 1;
}

.service-technology__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.service-technology__item {
    display: flex;
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.service-technology__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, .12);
}

.service-technology__content {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.service-technology__item span {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgba(0, 4, 60, 0.584);
    padding-left: 15px;
    padding-top: 20px;
    width: 50px;
}

.service-technology__content h4 {
    font-size: 24px;
    color: var(--navy);
}

.service-technology__content p {
    line-height: 1.4;
}

.service-technology__variant {
    display: none;
    flex-direction: column;
    gap: 32px;
}

.variant--active {
    display: flex;
}

.service-technology__variant h3 {
    font-size: 22px;
}

.service-params h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.service-header__btn {
    display: flex;
    align-items: center;
    gap: 24px;
}

.service-results__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.service-results__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.service-results__card {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.service-results__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .2s ease-in-out;
}

.service-results__card::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    border-radius: 16px;
    z-index: 1;
}

.service-results__label {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: var(--white);
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
}

.service-results__card:hover .service-results__img {
    transform: scale(1.03);
}

.services-advantages__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services-advantages__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 16px;
}

.services-advantages__item {
    align-items: center;
    gap: 16px;
    height: auto;
    text-align: center;
}

.services-advantages__item h3 {
    line-height: 1.2;
    font-size: 18px;
    min-height: 48px;
}

.services-advantages__item p {
    line-height: 1.2;
    font-size: 16px;
    max-width: 100%;
}

.service-bottom__btn {
    justify-content: center;
}


/* products page */

.product-specs__content .stack {
    gap: 12px;
}

.product-specs__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
}

.product-specs__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 16px;
}

.product-specs__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-technology {
    border-bottom: 1px solid #6c757d2d;
}

/* price */

.table-wrapper {
    overflow-x: auto;
}

.price-table caption {
    caption-side: top;
    text-align: left;
    color: var(--navy);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.3px;
    margin-bottom: 20px;
}

.price-table {
    border-collapse: collapse;
}

.price-table th {
    background-color: rgba(11, 20, 149, 0.08);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--navy);
}

.price-table td {
    background-color: rgba(11, 20, 149, 0.04);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--navy);
}

.price-table th,
.price-table td {
    border: 1px solid var(--navy);
    padding: 15px 20px;
    text-align: center;
}

.price-table td:last-child {
    text-align: right;
}

tbody tr {
    transition: background-color .2s ease-in-out;
}

.price-table tbody tr:hover td {
    background-color: rgba(11, 20, 149, 0.08);
}

.price-table .price-total {
    text-align: right;
}

.price-table .price-total,
.price-table .price-total-value {
    font-weight: 600;
}

.price-table tbody tr:hover .price-col-work {
    background-color: rgba(11, 20, 149, 0.04);
}

.price-group-start {
    border-bottom: 2px solid var(--navy);
}

.price-note {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(4, 4, 4, 0.65);
    font-style: italic;
}

/* contacts-page */

.contacts-bg {
    padding: 40px;
    background-color: #e8eaed;
}

.contacts-page__layout {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    align-items: center;
}

.contacts-page__form {
    width: 60%;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input,
.textarea {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.input:focus,
.textarea:focus {
    outline: 2px solid var(--yellow);
}

input.btn {
    align-self: flex-start;
    width: auto;
    color: var(--white);
}

.honeypot {
    display: none;
}

.contacts-page__map {
    width: 40%;
    height: auto;
}

.contacts-info__wrapper {
    padding: 0 40px;
}

.contacts-info__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts-info__item {
    gap: 12px;
    align-items: center;
}

.contacts-info__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--navy);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-info__descr {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    max-width: 330px;
}

.contacts-info__descr a {
    transition: color .2s ease-in-out;
}

.contacts-info__descr a:hover {
    color: var(--yellow);
}


@media (max-width: 1150px) {
    .container {
        padding: 0 40px;
    }

    .nav {
        font-size: 16px;
    }

    .nav-contacts {
        gap: 8px;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 400;
    }

    .nav-contacts_phone,
    .nav-contacts_address {
        gap: 8px;
    }

    .nav-contacts_phone {
        padding-right: 5px;
    }


    .nav-item {
        display: flex;
    }

    .nav-link {
        padding: 0 20px;
    }

    .about-text {
        width: 50%;
        max-width: 520px;
    }

    .about-img {
        width: 50%;
        aspect-ratio: 3 / 3;
    }

    .service-header__wrapper {
        gap: 32px;
        align-items: center;
    }

    .service-technology__list {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

}

@media (max-width: 900px) {

    section {
        padding: 40px 0;
    }

    body {
        padding: 10px 0;
    }

    .container {
        padding: 0 32px;
    }

    .nav-contacts_address {
        display: none;
    }

    .nav-contacts_phone {
        border: none;
    }

    .footer-main {
        flex-direction: column;
        gap: 24px;
    }

    .service-header__content,
    .service-header__wrapper {
        gap: 24px;
    }

    .service-header__img {
        aspect-ratio: 3 / 2;
    }

    .contacts-info__descr {
        max-width: 250px;
    }
}

@media (max-width: 768px) {

    section,
    .page-product section {
        padding: 20px 0;
    }

    .container {
        padding: 0 24px;
    }

    .nav-contacts {
        display: none;
    }

    .nav-list {
        width: 100%;
        justify-content: space-between;
    }

    .nav-link {
        padding: 10px 15px;
    }

    .hero-title {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .hero-text {
        max-width: 450px;
        font-size: 14px;
    }

    .hero-btn {
        font-size: 16px;
        font-weight: 500;
    }

    .hero-btn_contacts {
        padding: 14px;
    }

    .hero-btn_price {
        padding: 14px;
    }

    .about-wrapper {
        flex-direction: column;
        gap: 16px;
    }

    .about-text,
    .about-img {
        width: 100%;
    }

    .about-img {
        aspect-ratio: 5 / 3;
    }

    .advantages-list {
        grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    }

    .service-item {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .developments-list {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .service-header__wrapper {
        grid-template-columns: 1fr;
    }

    .service-header__img {
        aspect-ratio: 2 / 1;
    }

    .service-technology__content h3 {
        font-size: 20px;
    }

    .service-technology__content p {
        font-size: 14px;
        line-height: 1.2;
    }

    .service-header__btn {
        justify-content: center;
    }

    .product-specs__wrapper {
        grid-template-columns: 1fr;
    }

    .contacts-page__layout {
        flex-direction: column;
        gap: 12px;
    }

    .contacts-page__form,
    .contacts-page__map {
        width: 100%;
    }

    .contacts-info__wrapper {
        padding: 0;
    }

}

@media (max-width: 640px) {

    body {
        padding: 0;
    }

    .header {
        display: none;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 8px;
        color: var(--white);
        font-size: 30px;
        font-weight: 800;
    }

    .nav-logo img {
        max-width: 60px;
        height: auto;
    }

    .burger {
        display: flex;
        gap: 5px;
        flex-direction: column;
        width: 40px;
    }

    .burger span {
        display: flex;
        width: 100%;
        height: 2px;
        background-color: var(--white);
        border-radius: 3px;
        transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    }

    .nav {
        padding: 10px 0;
        align-items: center;
        position: relative;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        right: -24px;
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-start;
        background-color: #00043c;
        border-radius: 0 0 10px 10px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .2s ease-in-out;
    }

    .nav.nav--open .nav-list {
        opacity: 1;
        pointer-events: auto;
    }

    .nav-link {
        padding: 20px 30px;
    }

    .nav-item,
    .nav-link {
        display: block;
        width: 100%;
    }

    body.body--lock {
        overflow: hidden;
    }

    .nav.nav--open .burger span:first-child {
        transform: translateY(7px) rotate(45deg);
    }

    .nav.nav--open .burger span:last-child {
        transform: translateY(-7px) rotate(-45deg);
    }

    .nav.nav--open .burger span:nth-child(2) {
        opacity: 0;
    }

    .nav-item:last-child .nav-link {
        border-radius: 0 0 10px 10px;
    }

    .service-content a {
        align-self: center;
    }

    .developments-wrapper {
        gap: 16px;
    }

    .developments-list {
        margin-top: 12px;
    }

    .footer-content {
        padding: 24px 0;
    }

    .footer-wrapper {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .footer-contacts_phone {
        padding-right: 0px;
        border-right: none;
        align-items: center;
    }

    .footer-contacts_address {
        align-items: center;
    }

    .footer-contacts,
    .footer-top,
    .footer-nav-list {
        flex-direction: column;
        gap: 24px;
    }

    .service-header__content,
    .service-header__wrapper,
    .service-technology__wrapper,
    .service-technology__descr {
        gap: 16px;
    }

    .service-technology__list {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .services-advantages__list {
        grid-template-columns: 1fr 1fr;
    }

    .service-technology__tabs {
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }

    .contacts-info__list {
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .contacts-info__descr {
        max-width: 100%;
    }
}

@media (max-width: 480px) {

    .container {
        padding: 0 16px;
    }

    .btn {
        font-size: 16px;
    }

    .section-title {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0px;
    }

    .section-text {
        font-size: 14px;
        line-height: 1.4;
    }

    .grid-auto {
        gap: 24px;
    }

    .breadcrumb-list {
        gap: 5px;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        margin-right: 5px;
    }

    .breadcrumb-item {
        font-size: 12px;
    }

    .spec-list {
        gap: 12px;
        padding: 0 20px;
    }

    .spec-list li {
        font-size: 14px;
    }

    .section-intro {
        gap: 16px;
    }

    .nav-logo span,
    .footer-logo span {
        font-size: 24px;
    }

    .nav-logo img,
    .footer-logo img {
        max-width: 35px;
    }

    .hero {
        min-height: 430px;
    }

    .hero-content {
        padding: 15px;
        transform: none;
    }

    .hero-title {
        font-size: 32px;
        letter-spacing: 0.5px;
    }

    .stack,
    .footer-main,
    .footer-wrapper,
    .footer-content,
    .footer-nav-list,
    .footer-contacts,
    .service-header__wrapper,
    .service-header__content {
        gap: 12px;
    }

    .footer-wrapper,
    .footer-content,
    .footer-contacts {
        gap: 16px;
    }

    .advantages-list,
    .service-list {
        margin-top: 20px;
    }

    .advantages-icon {
        width: 55px;
        height: 55px;
    }

    .advantages-item svg {
        width: 25px;
    }

    .developments-img img {
        max-width: 190px;
    }

    .service-item {
        padding: 20px 15px;

    }

    .services-advantages__list {
        grid-template-columns: 1fr;
    }

    .service-technology__content {
        gap: 8px;
        padding: 10px;
    }

    .service-technology__item span {
        font-size: 22px;
        padding-left: 10px;
        padding-top: 8px;
    }

    .service-technology__content h4 {
        font-size: 16px;
    }

    .service-technology__variant {
        gap: 16px;
    }

    .service-technology__variant h3 {
        font-size: 18px;
    }

    .service-params h3 {
        margin-bottom: 8px;
    }

    .services-advantages__item h3 {
        min-height: auto;
    }

    .service-technology__tabs {
        gap: 12px;
    }

    .service-results__label {
        bottom: 5px;
        left: 5px;
        padding: 5px;
        font-size: 14px;
        font-weight: 400;
    }

    .service-results__grid {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .service-results__item {
        gap: 8px;
    }

    .hero-btn,
    .service-header__btn {
        flex-direction: column;
        gap: 8px;
    }

    .btn {
        width: 100%;
        display: block;
        text-align: center;
    }

    .price-table caption {
        font-size: 16px;
    }

    .price-table th {
        font-size: 14px;
        line-height: 1.2;
    }

    .price-table td {
        font-size: 12px;
        line-height: 1.2;
    }

    .price-table th,
    .price-table td {
        padding: 10px;
    }

    .contacts-page__map iframe {
        height: 50%;
    }

    .contacts-info__icon {
        width: 56px;
        height: 56px;
    }
}

@media (max-width: 375px) {

    .btn {
        font-size: 14px;
        padding: 8px 14px;
    }

    .section-title {
        font-size: 22px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0;
        font-weight: 600;
    }

    .section-text {
        font-size: 14px;
        line-height: 1.3;
    }

    .nav-logo span {
        font-size: 18px;
    }

    .hero {
        min-height: 350px;
    }

    .hero-title {
        font-size: 24px;
        letter-spacing: 0px;
        margin-bottom: 15px;
    }

    .hero-content {
        padding: 10px;
        transform: none;
    }

    .hero-text {
        letter-spacing: 0;
        margin-bottom: 20px;
    }

    .hero-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-contacts {
        padding: 0;
    }
}